
button {
    margin: 20px;
    width: 30vw;
    min-width: 120px;
    }
    
.row{
        border-color: 40,0,0,0;
        border-style: double;
        border-width: 20px;
        margin: 10px;
        background-color: rgb(204,198,194,20);
        min-width:300px;
    } 

#container{
    min-width: 450px;
}