.btn{
    margin: 10px;
}

.mat-raised-button{
    width: 20px;
    margin: 20px;
}

.container{
    border: solid;
    border-color: black;
    margin: 10px;
    background-color: rgb(220, 219, 225);
   
}