.container{
    
    border-color: black;
    border-style: double;   
}

.journal-input{
    display: flex;
    width: 30vw;
    min-height: 400px;
    margin: 10px;
    
}

.button{
    margin: 10px;
}

.text-area{
    margin: 10px;
}

