<div class="container">
    <div class="row">
            <mat-form-field  appearance="fill" class = "input-field">
                <mat-label>Add Entry</mat-label>
                <textarea matInput placeholder="Journal Entry" class="journal-input"></textarea>
            </mat-form-field>
        <div class = "row">
            <div>
                <button type = "button" class = "button" mat-raised-button color="primary">Save</button>                                                            
                <button type = "button" class = "button" mat-raised-button color="warn" routerLink = "/"> Cancel</button>
            </div>
        </div>
    </div>
</div>