
button {
    margin: 20px;
    width: 30vw;
    min-width: 120px;
    }
    
.row, .header{
    border-color: 40,0,0,0;
    border-style: double;
    border-width: 20px;
    margin: 10px;
    background-color: rgb(205, 199, 196);
    min-width:300px;
    } 

#container{
    min-width: 450px;
}

