.container{
    border-style:groove;
    border-color:black;
    border-width:5px;
    margin: 5px;
    padding: 5px;
    
}


.entry-list{
    
    display: flex;
    align-items: center;
}


.mat-raised-button{
    width: 20px;
}

.mat-list-item{
    width: 300px;
    font-size: 20px;
    
}

.mat-divider{
    margin: 20px;
}